<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated thecareunit -->
      <package
            uri="http://www.example.org/thecareunit"
            class="thecareunit.ThecareunitPackage"
            genModel="model/thecareunit.genmodel"/>
   </extension>

</plugin>
